<div class="about">
    <h1>About Me</h1>

    <img class="me" src="~/images/me.jpg"/>

    <p>I'm a current student at Epicodus, in the track that teaches C#, JavaScript, and .NET programming. My first introduction to coding was at VoteSmart.org where I used PostgreSQL to manage special interest group data. It was amazing that I could create queries to find patterns and useful metrics out of a sea of words and numbers. Since leaving Vote Smart and before starting Epicodus, I completed a few courses on Codecademy, including classes on HTML, CSS, and JavaScript.</p>

    <h3>Interests</h3>
    <ul class="interests">
        <li>I love to ski - I'm currently focusing on becoming more comfortable on tree runs</li>
        <li>Revisiting classic and popular books that a high school english class would require</li>
        <li>Games of all sorts: card games, sports, board games, etc.</li>
        <li>Family, friends, and dogs</li>
    </ul>

    <a class="about-link" href="/Home/About">ABOUT</a>
    <a class="about-link" href="/Home/Projects">MY PROJECTS</a>
</div>
