
<div id="top">
    <h1>My portfolio</h1>
    <img src="~/images/watercolor.jpg" />
</div>

<div class="links">
    <a class="link" href="/Home/About">ABOUT</a>
    <a class="link" href="/Home/Projects">MY PROJECTS</a>
</div>
